[submodule "docs/latex/10046018phxbfwnkqgsp"]
	path = docs/latex/10046018phxbfwnkqgsp
	url = https://git.overleaf.com/10046018phxbfwnkqgsp
[submodule "docs/latex/neurorobotics"]
	path = docs/latex/neurorobotics
	url = https://git.overleaf.com/10046018phxbfwnkqgsp
[submodule "docs/latex/neurorobotics2017"]
	path = docs/latex/neurorobotics2017
	url = https://git.overleaf.com/10046018phxbfwnkqgsp
